# Ignore node_modules directory
node_modules/
aider/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore environment variable files
.env
*.env
.env.*
*.env.*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Visual Studio Code specific files
.vscode/
*.code-workspace
.aider*
